.App{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#102d64,#15725b);
}

:root{
    --color-blanco: #faf8f8;
}