.home-page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    
}
.home-page header{
    width: 100%;
    height: 60px;
    background-color: rgb(32, 32, 32);
}

.home-page nav {
    padding-left: 34%;
    display: flex;
    justify-content: space-around;
}
.home-page-title{
    font-size: 4rem;
    color: var(--color-blanco);
}
.home-page p{
    color: var(--color-blanco);
    cursor: pointer;
    font-size: 1.4rem;
}
.home-page p:hover{
    color: rgb(209, 209, 209);
}

@media screen and (max-width:400px){
    .home-page-title{
        font-size: 3rem;
    }
    .home-page nav{
        padding-left: 0;
    }
}