.form-task{
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.form-task label {
    font-size: 1.6rem;
    margin-right: 10px;
    color: var(--color-blanco);
}
.form-task input{
    outline: none;
    border: none;
    border-radius: 5px;
}
.form-task input:focus{
    box-shadow: 0 0 10px #328bff, 0 0 10px #328bff, 0 0 10px #328bff;
}

.btn-task{
    margin-left: 10px;
}

.error-box{
    display: flex;
    justify-content: center;
    color: #ff6060;
    margin-top: -10px;
}
.error-msg {
    margin-left: 5px;
    font-size: 16px;
}

@media screen and (max-width:600px){
    .form-task label{
        font-size: 1.2rem;
    }
}

@media screen and (max-width:420px){
    .form-task label, .form-task input, .btn-task{
        margin-bottom: 10px;
    }
    .form-task{
        flex-direction: column;
    }
}