.form-task{
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.form-task label {
    font-size: 25px;
    margin-right: 10px;
    color: var(--color-blanco);
}
.form-task input{
    outline: none;
    border: none;
    border-radius: 5px;
}
.form-task input:focus{
    box-shadow: 0 0 10px #328bff, 0 0 10px #328bff, 0 0 10px #328bff;
}

.btn-task{
    margin-left: 10px;
}

.error-box{
    display: flex;
    justify-content: center;
    color: #ff6060;
    margin-top: -10px;
}
.error-msg {
    margin-left: 5px;
    font-size: 16px;
}
