.task-box {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px;
    color: var(--color-blanco);
    border-bottom: 1px solid var(--color-blanco);
}
.task-box:hover{
    background-color:#476D7C ;
}
.bt-box{
    display: flex;
    align-items: center;
    padding: 2px;
    
}
.task-box p{
    padding: 2px;
    font-size: 1.4rem;
    width: 50%;
    overflow-wrap: break-word;
}
.completed{
    text-decoration: line-through;
    color: #16a021;
}
.task-box i {
    font-size: 40px;
    cursor: pointer;
    margin-left: 20px;
    color: #ff6060;
}

@media screen and (max-width:400px){
    .task-box i{
        font-size: 25px;
        margin-left: 5px;
    }
}